<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.inrich.dao.LevelTwoDAO">
	
	<sql id="table">level_two</sql>
    <sql id="selectFields">id,question,level,is_base as isBase,image_path as imagePath,answer</sql>
    <sql id="insertFields">
    	level,
    	question,
    	key_word,
    	click_num,
    	answer,
    	parent_id,
    	is_base,
    	image_path,
    	is_qa
   	</sql>
	
	<select id="selectLevelTwoById" resultType="LevelTwo" >
		select * from 
			<include refid="table"/>
		where id=#{id}
	</select>
	
	
	<select id="selectLevelTwoByPid" resultType="map" >
		select 
		<include refid="selectFields"/>
		from 
		<include refid="table"/>
		where parent_id=#{parentId}
	</select>
	
	
	<select id="selectIndex" resultType="LevelTwo">
		select * from 
		<include refid="table"/>
		where parent_id=0
	</select>
	
	<insert id="addLevelTwo" parameterType="LevelTwo" useGeneratedKeys="true" keyProperty="id">
		insert into 
		 <include refid="table"/>
			(<include refid="insertFields"/>) 
			values(#{level}, #{question},#{keyWord},#{clickNum},#{answer},#{parentId},#{isBase},#{imagePath},#{isQa})
	</insert> 
	
	<select id="selectByKeyword" resultType="LevelTwo">
		select * from 
		<include refid="table"/>
		where key_word=#{selectByKeyword}
	</select>
	
	
	
	<select id="selectNotBase" resultType="map">
		select id,question from 
			<include refid="table"/> where is_base =0
	</select>
	
	
	
	
	
</mapper>